// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #0083ca;
// $brand-secondary:       ;
// $brand-highlight:       ;
// $blue: #0083ca;
// $dark-blue: #155f99;
// $white: #ffffff;
// $gray: #4F5D75;
// $light-gray: #8d98ab;
// $dark-gray: #2D3142;
// 
// $green: #61949a;
// 
$main-text: #000000;

$brand-primary: #0083ca;
$brand-secordary: #d9d9d9;
$brand-hightlight-primary: #f9cf00;
$brand-hightlight-secondary: #F19F4D;

// Nav Style

$nav-background: #FFFFFF;
$nav-text-color: #000000;

// New Colors
$blue: #0083ca;
$dark-blue: #155f99;
$white: #ffffff;
$gray: #4484ce;
$light-gray: #8d98ab;
$dark-gray: #2D3142;

$green: #61949a;

// $main-text: #526169;


//color scheme link: https://coolors.co/2d3142-4f5d75-bfc0c0-ffffff-ef8354