@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
// endbower
@font-face {
    font-family: 'StateFaceRegular';
    src: url('../fonts/stateface-regular-webfont.eot');
    src: url('../fonts/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stateface-regular-webfont.woff') format('woff'),
         url('../fonts/stateface-regular-webfont.ttf') format('truetype'),
         url('../fonts/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.state-icon{
  font-family: 'StateFaceRegular';
}
.state-arizona{
  &:before{
    content: 'D';
  }
}
@import "components/state-icons"
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
