footer{
  background: lighten($brand-secordary, 10%);
  padding: 40px 0px 1px 0px;
  p{
    color: white;
  }
  .copyright{
    background: darken($brand-primary, 10%);
    margin: 0;
    padding: 10px;
  }
  .footer-content{
    padding-bottom: 35px;
  }
}

#footer-navigation{
  li a{
    color: $main-text;
    font-weight: bold;
    &:hover, &:active, &:focus{
      color: lighten($main-text, 20%);
    }
  }
}

.footer-logo{
  max-width: 200px;
}
