#navbarTogglerMain{
  -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.fixed-top{
  z-index: 999;
  box-shadow: 0px 0px 12px #a9a8a8;
  background: $nav-background;
}

header{
  .navbar{
    padding: 18px 0px;
  }
  .navbar-light .navbar-nav .nav-link{
    color: $brand-primary;
    font-weight: bold;
    font-size: 1.1rem;
    &:hover, &:active, &:focus{
      color: darken($brand-primary, 10%);
    }
  }
  .navbar-light .navbar-nav .nav-link.active{
    color: darken($brand-hightlight-secondary, 10%);
  }
  .navbar .navbar-brand img {
    max-width: 250px;
    transition: all 200ms ease-in-out;
  }
  .nav-top-section{
    background: $brand-primary;
    .location-social{
      background: transparent;
      padding: 2px;
      color: $nav-background;
      margin: 0px;
      i{
        text-align: center;
        width: 28px;
        font-size: 18px;
        color: $brand-primary;
        background: $nav-background;
        margin: 8px 2px;
        line-height: 28px;
        border-radius: 50%;
      }
    }
  }
}

.dropdown-toggle:after {
    display: none;
}

.page-header{
  background-repeat: no-repeat;
  background-size: cover;
} h1 {
  color: #FFF;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
  font-size: 3rem;
}

@media screen and (max-width: 48em) {
  .nav-top-section{
    transition: all 200ms ease-in-out;
  }
  
  .header-wrap{
    .container{
      padding-left: 0;
      padding-right: 0;
    }
    .navbar{
      padding-left: 5px;
      padding-right: 5px; 
      .navbar-brand{
        max-width: 200px;
      } 
    }
    .navbar-collapse{
      .dropdown-menu{
        text-align: center;
      }
      .dropdown-item{
        padding: 10px 1.5rem;
      }
    }
    .navbar-toggler{
      background: $white;
      color: $dark-gray;
    }
    .navbar-toggler-right{
      right: 5px;
    }
    .navbar-toggler-text{
      display: block;
      position: absolute;
      bottom: -20px;
      left: 0;
      right: 0px;
      font-size: 12px;
      color: $nav-text-color;
    }
    .nav{
      margin-top: 20px;
      li{
        background: $white;
        text-align: center;
      }
      .nav-link{
        color: $gray;
      }
      .active{
        color: $dark-gray;
      }
    }
  }
  header .navbar-light .navbar-nav .nav-link {
    color: $dark-gray;
    font-weight: 700;
    &:active, &:hover{
      color: #878a9c;
    }
  }
}